.control-panel {
  .options {
    height: 40px;
    margin-bottom: 40px;

    input {
      width: 210px;
      margin-bottom: 0;
    }

    .button-save-photo {
      width: 150px;
      height: 40px;

      span {
        color: white;
        //font-weight: bolder;
      }
    }
  }


}

.resultImage {
  border-radius: 100%;
  border-color: #760fc5;
}

image-cropper {
  background-color: #ffe2d8;
  max-height: 500px
}

