<div class="image-container">
  <div class="control-panel">
    <div fxLayout="column">
      <div fxLayout="row" class="options">
        <input type="file" (change)="fileChangeEvent($event)"/>
        <button mat-raised-button color="primary" class="button-save-photo" (click)="savePhoto()"><span>Save</span></button>
      </div>
      <div class="buttons">
        <button (click)="rotateLeft()">Rotate left</button>
        <button (click)="rotateRight()">Rotate right</button>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="image-cropped">
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="4/3"
        [resizeToHeight]="500"
        [onlyScaleDown]="true"
        [containWithinAspectRatio]="true"
        [canvasRotation]="canvasRotation"
        [transform]="transform"
        [roundCropper]="true"
        [alignImage]="'center'"
        [style.display]="showCropper ? null : 'none'"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady($event)"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
    </div>
    <div><img class="resultImage" [src]="croppedImage"/></div>
  </div>
</div>
