.pdp-content {
  width: 100%;

  .productName {
    padding: 30px 0;

    h1 {
      text-align: left;
      font-size: 40px;
      margin-bottom: 0;
    }
  }

  .general-info {
    width: inherit;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;

    .photo-options {
      width: 50%;
      //padding-right: 30px;
      //padding-left: 100px;
      .images {
        //height: 850px;

        img {
          // save the image proportions
          width: 750px;
          height: 600px;
          object-fit: contain;
        }
      }

      .choosing-menu {
        p {
          font-weight: bolder;
          color: darkred;
        }
      }
    }

    .main-info {
      width: 50%;
      padding-left: 30px;

      .short-description {
        p {
          width: inherit;
          font-size: 16px;
        }
      }

      .button-buy {
        width: 150px;
        height: 40px;

        span {
          color: white;
          //font-weight: bolder;
        }
      }
    }
  }
}

.details-container {
  //padding: 0;
}
