.side-container {
  height: 100%;
  background-color: white;

  .side-menu {
    width: 200px;

    * {
      padding-left: 0;
      padding-right: 0;
    }

    &__list {
      padding: 0;
    }

    &__item:first-child {
      //background: rgba(151, 36, 210, 0.66);
      background: linear-gradient(#932694db 15%, #8000abab, #e476aff2);
      font-weight: bolder;
      border-top: 1px solid #ffffff;

      span {
        color: white;
      }
    }

    &__item {
      display: flex;
      justify-content: center;
      height: 50px;
      width: 100%;
      border-bottom: 1px solid rgba(69, 0, 109, 0.1);
    }
  }
}

mat-sidenav-content {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;

  .btn-sidebar {
    mat-icon {
      color: white;
    }
  }
}


