.side-container {
  height: 100%;
  background-color: white;

  .side-menu {
    width: 200px;
    border-right: none;

    * {
      padding-left: 0;
      padding-right: 0;
    }

    &__list {
      padding: 0;
    }

    &__item:first-child {
      background: linear-gradient(#932694db 15%, #8000abab, #e476aff2);
      font-weight: bolder;
      border-bottom: 1px solid #ea96c3;
      margin-top: 1px;
      span {
        color: white;
      }
    }

    &__item {
      display: flex;
      justify-content: center;
      height: 50px;
      width: 100%;
      border-bottom: 1px solid rgba(69, 0, 109, 0.1);
    }
    &__item:hover {
      border-right: 1px solid rgba(69, 0, 109, 0.1);;
    }
  }
}

.side-main-content {
  border-right: none;
}

mat-sidenav-content {
  align-items: flex-start;
  display: flex;
  //justify-content: flex-end;

  .btn-sidebar {
    position: absolute;
    padding: 0;
    min-width: 50px;
    height: 50px;
    margin-top: 1px;
    border-radius: 0 100px 100px 0;
    box-shadow: none;
    background: linear-gradient(#932694db 15%, #8000abab, #e476aff2);

    mat-icon {
      color: white;
    }
  }
}


