<mat-sidenav-container class="side-container">
  <mat-sidenav class="side-menu" #sidenav mode="side" [(opened)]="opened">
    <mat-selection-list class="side-menu__list" #itemses [multiple]="false">
      <mat-list-option class="side-menu__item" disabled><span>Категории</span></mat-list-option>
      <mat-list-option class="side-menu__item" *ngFor="let item of items$ | async">
        <span> {{ item }} </span>
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <button class="btn-sidebar" mat-mini-fab (click)="sidenav.toggle()" color="primary">
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
