<div class="product" fxLayout="column" fxLayoutAlign="space-between center">
  <div>
    <h2>
      <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
        {{ product.name }}
      </a>
    </h2>
  </div>
  <div class="decription-container">
    <p class="mb0" *ngIf="product.description">
      Description: {{ product.description }}
    </p>
  </div>
  <div class="price-container" *ngIf="product.price" fxLayout="row" fxLayoutAlign="space-between center">
    <p class="mb0"> Price: {{ product.price }}</p>
    <app-product-alerts [product]="product" (notify)="onNotify()"></app-product-alerts>
  </div>
  <div>
    <p>Count: {{product.count}}</p>
  </div>
  <app-product-color-list [productColors]="product.colorModels" [productId]="product.id"></app-product-color-list>
  <button mat-raised-button color="primary" class="button" (click)="addToCart()"><span>Add to cart</span></button>
</div>
